{% load i18n %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang='uk'>
  <head>
  	<meta charset='UTF-8'/>
    <title></title>
  	<meta name='description'
      value=/>
      <!-- Include Styles -->
      <link rel='stylesheet' href='https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css'>
      <link rel="stylesheet" href='{% static "css/main.css" %}'>
  </head>
  <body class="body">


{% if user.is_authenticated %}
<div class='col-md-3 registration'>
  {% if user.is_authenticated %}
     <a href='{% url 'users:auth_logout' %}'>Вийти</a>
  {% endif %}
</div>
   <!-- Start SubHeader -->
    <div class='row sub-header'>

      <div class='col-xs-11'>
       <ul class='nav nav-tabs main_menu' role='tablist'>
        <li role='presentation' {% if request.path == '/' %}class="active"{% endif %}><a href='{% url 'test_list' %}'>Головна</a></li>
        <li role="presentation" {% if '/результати' in request.path %}class="active"{% endif %}><a href="{% url "results" %}">Результати</a></li>
       </ul>
      </div>

   </div>
    <!-- End SubHeader -->
{% endif %}

{% block content %}
  
{% endblock content %}


  </div>



  </body>


  	<!-- Javascripts Section -->
  	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  	<script src='https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js'></script>
    <script src="{% static "js/main.js" %}"></script>
  </body>
</html>
