
.question_block{
	margin-top: 30px;
}

.size{
	font-size: 15pt;
}

.size_main{
	font-size: 25pt;
}

.question_block_main{
	margin-top: 30px;
}

.person_block{
	margin-top: 18%;
}

.per_field{
	margin-top: 18px;
}

.size_question{
	font-size: 20pt;
	margin-bottom: 60px;
}

.qn{
	margin-top: 12%;
}

.finish{
	margin-top: 20%;
	font-size: 25pt;
}

.main_menu{
	margin-top: 30px;
	margin-left: 20px;
}

.block_results{
	margin-top: 60px;
}